@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');body {
  margin: 0;
  font-family: 'Poiret One', cursive;
  /* -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #666; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
